.mainSec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.leftSec {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: row;
}
.leftSec h1 {
  font-size: var(--xlText);
  font-family: "Nunito-Bold";
  padding: 15px;
  padding-left: 0 !important;
  margin: 0 !important;
}
.loadingSec h1 {
  width: 100%;
}
.celciusSec {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.celciusSec p {
  margin-bottom: 0px !important;
  font-size: var(--textXl);
  font-family: "Nunito-Bold";
}
.celciusSec span {
  font-family: "Nunito-Regular";
}
.rightSec {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-width: 350px;
}
.rightSec img {
  height: 220px;
  width: 220px;
}
.rightSec p {
  font-family: "Nunito-Medium";
  font-size: var(--textMd);
  margin-bottom: 10px !important;
  display: flex;
  align-items: center;
}
.rightSec p span {
  margin-right: 5px;
}
.rightSec p:last-child {
  margin-bottom: 0px !important;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .rightSec img {
    height: 150px;
    width: 150px;
  }
}

@media (max-width: 768px) {
  .mainSec {
    padding: 30px 0;
  }
  .leftSec {
    justify-content: flex-start;
    padding: 15px;
  }
  .leftSec h1 {
    font-size: var(--mdText);
    padding-right: 5px !important;
  }
  .celciusSec {
    padding: 5px !important;
  }
  .celciusSec p {
    font-size: var(--textSm);
  }
  .rightSec {
    min-width: 200px;
    margin: auto;
  }
  .rightSec img {
    height: 80px;
    width: 80px;
  }
  .rightSec p {
    font-size: var(--textXs);
  }
}
